.test {
  color: 0%, 8.33333%, 16.66667%, 25%, 33.33333%, 41.66667%, 50%, 58.33333%, 66.66667%, 75%, 83.33333%, 91.66667%, 100%; }

/*
Below are the 4 different animation
classes that use different keyframes
depending on the positions
*/
.animatePos0 {
  position: absolute;
  /* animation prefixes for all browsers */
  -webkit-animation: pos0 4s linear infinite;
  -moz-animation: pos0 4s linear infinite;
  -ms-animation: pos0 4s linear infinite;
  -o-animation: pos0 4s linear infinite;
  animation: pos0 4s linear infinite; }

.animatePos1 {
  position: absolute;
  /* animation prefixes for all browsers */
  -webkit-animation: pos1 4s linear infinite;
  -moz-animation: pos1 4s linear infinite;
  -ms-animation: pos1 4s linear infinite;
  -o-animation: pos1 4s linear infinite;
  animation: pos1 4s linear infinite; }

.animatePos2 {
  position: absolute;
  /* animation prefixes for all browsers */
  -webkit-animation: pos2 4s linear infinite;
  -moz-animation: pos2 4s linear infinite;
  -ms-animation: pos2 4s linear infinite;
  -o-animation: pos2 4s linear infinite;
  animation: pos2 4s linear infinite; }

.animatePos3 {
  position: absolute;
  /* animation prefixes for all browsers */
  -webkit-animation: pos3 4s linear infinite;
  -moz-animation: pos3 4s linear infinite;
  -ms-animation: pos3 4s linear infinite;
  -o-animation: pos3 4s linear infinite;
  animation: pos3 4s linear infinite; }

.animatePos4 {
  position: absolute;
  /* animation prefixes for all browsers */
  -webkit-animation: pos4 4s linear infinite;
  -moz-animation: pos4 4s linear infinite;
  -ms-animation: pos4 4s linear infinite;
  -o-animation: pos4 4s linear infinite;
  animation: pos4 4s linear infinite; }

@-webkit-keyframes pos0 {
  0% {
    top: 50%;
    left: 0%; }

  8.33333% {
    top: 33.33333%;
    left: 16.66667%; }

  16.66667% {
    top: 50% -33.33333;
    left: 0% 33.33333; }

  25% {
    top: 0%;
    left: 50%; }

  33.33333% {
    top: 16.66667%;
    left: 66.66667%; }

  41.66667% {
    top: 33.33333%;
    left: 83.33333%; }

  50% {
    top: 50%;
    left: 100%; }

  58.33333% {
    top: 66.66667%;
    left: 83.33333%; }

  66.66667% {
    top: 83.33333%;
    left: 66.66667%; }

  75% {
    top: 100%;
    left: 50%; }

  83.33333% {
    top: 83.33333%;
    left: 33.33333%; }

  91.66667% {
    top: 66.66667%;
    left: 16.66667%; }

  100% {
    top: 50%;
    left: 0%; } }

/*** */
@-webkit-keyframes pos1 {
  0% {
    top: 33.33333%;
    left: 16.66667%; }

  8.33333% {
    top: 50% -33.33333;
    left: 0% 33.33333; }

  16.66667% {
    top: 0%;
    left: 50%; }

  25% {
    top: 16.66667%;
    left: 66.66667%; }

  33.33333% {
    top: 33.33333%;
    left: 83.33333%; }

  41.66667% {
    top: 50%;
    left: 100%; }

  50% {
    top: 66.66667%;
    left: 83.33333%; }

  58.33333% {
    top: 83.33333%;
    left: 66.66667%; }

  66.66667% {
    top: 100%;
    left: 50%; }

  75% {
    top: 83.33333%;
    left: 33.33333%; }

  83.33333% {
    top: 66.66667%;
    left: 16.66667%; }

  91.66667% {
    top: 50%;
    left: 0%; }

  100% {
    top: 33.33333%;
    left: 16.66667%; } }

/****/